
:root {
  --txt-color: #ddd;
  --bg-color: #232329;
  --link-color: #da3;
  --code-color: #bbb;
  --dim-color: #776;
  --bright-color: #ba5;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 17px;
  line-height: 1.5;
  color: var(--txt-color);
  background-color: var(--bg-color);
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6, ul, ol, li, table, blockquote {
  font-size: 17px;
}
a, a:visited {
  color: var(--link-color);
  text-decoration: none;
}
h1 {
  margin: 3rem 0;
}
h2 {
  margin: 2rem 0;
}
h3 {
  margin: 2rem 0 1rem;
}
p, pre, nav, ul, ol, table, blockquote {
  margin: 1rem 0;
}
pre {
  line-height: 1.2;
  overflow: auto;
}
code {
  color: var(--code-color);
  font-family: monospace;
  font-size: 14px;
}
footer {
  margin: 4rem 0 3rem;
  font-size: 14px;
}
ul {
  margin: 1rem 0;
  padding: 0 0 0 1.5rem;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  display: block;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
.color-dim {
  color: var(--dim-color);
}
.color-bright {
  color: var(--bright-color);
}
